<%- include('ek/header', {bot, user, path}) %>
	
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="msapplication-TileColor" content="#4D77CD">
 <meta name="msapplication-TileImage" content="<%=bot.user.avatarURL%>">
 <meta name="theme-color" content="#4D77CD">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="Spice up your Discord experience with our diverse range of Discord bots">
 <meta name="keywords" content="Bots, Discord, English">
 <meta property="og:title" content="Discord4Bots" />
 <meta property="og:type" content="Website" />
 <meta property="og:url" content="" />
 <meta property="og:description" content="Spice up your Discord experience with our diverse range of Discord bots" />
 <meta property="og:image" content="<%=bot.user.avatarURL%>" />
 <meta itemprop="description" content="Spice up your Discord experience with our diverse range of Discord bots">
 <meta itemprop="image" content="<%=bot.user.avatarURL%>">
<head>

<div align="center">
		<h2 style="color:#222;">Deleting Bot</h2>
	
    <div class="jumbotron">
 <form method="post">
   <style> h3 { color:#fff; } p { color:#fff } </style> 
   <div style="color:#222;" align="center">
		
     <h3>
       Are you sure?
     </h3>
     
     <p>
      If you really want to delete your bot from our system, press the <a style="color:red"> Delete </a> button.

       <br><br>
       <i><a style="color:red">Note:</a> When you delete your bot from the system, there is no problem adding the same bot or another bot to the system again. </i>
     </p>
     
     <!--<h6 style="color:red">
       Şuan silme kapalıdır. Yapım aşamasındadır.
     </h6>-->
    
				<div align="center" style="width: 100%; text-align: left; margin-top: 20px;">
					<center><button id="botid" name="botid" value="<%=id%>" style="border-radius: 100px" type="submit" class="btn btn-danger"><i class="fa fa-remove fa-fw"></i> Remove<i aria-hidden='true'></i></button>
          </center></div>
		</div>
  </form>
    </div></div>
	</div>
<% include ./ek/footer %>