<%- include('ek/header', {bot, user, path}) %>
<div class="container">
  <div align="center" class="jumbotron">
    <%
    var txt = `${user.username}#${user.discriminator} Open Profile`
    if (user) {
      if (user.id === user.id) {
        var txt = `Open Profile`
      }
    }
    %>
       <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.gif?size=512" class="rounded-circle panel">
       <h5 style="color:#fff"><%=user.username%>#<%=user.discriminator%></h5>
       <a href="/user/<%=user.id%>/profile" class="btn btn-default" style="background-color:#333; color:#fff"><%=txt%></a>
       <% if (user) { %>
       <% if (user.id === user.id) { %>
       <a href="/user/<%=user.id%>/panel" class="btn btn-default" style="background-color:#333; color:#fff">Open Panel</a>
       <% } %>
       <% } %>
  </div>
</div>
</div></div>
<% include ./ek/footer %>