<%- include('ek/header', {bot, user, path}) %>

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="msapplication-TileColor" content="#4D77CD">
 <meta name="msapplication-TileImage" content="<%=bot.user.avatarURL%>">
 <meta name="theme-color" content="#4D77CD">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <meta name="description" content="Spice up your Discord experience with our diverse range of Discord bots">
 <meta name="keywords" content="Bots, Discord, English">
 <meta property="og:title" content="Discord4Bots" />
 <meta property="og:type" content="Website" />
 <meta property="og:url" content="" />
 <meta property="og:description" content="Spice up your Discord experience with our diverse range of Discord bots" />
 <meta property="og:image" content="<%=bot.user.avatarURL%>" />
 <meta itemprop="description" content="Spice up your Discord experience with our diverse range of Discord bots">
 <meta itemprop="image" content="<%=bot.user.avatarURL%>">
<head>

<div class="container">
  <div align="center" class="jumbotron">
    <%
    var txt = `${kisi.username}#${kisi.discriminator} Open Profile`
    if (user) {
      if (user.id === kisi.id) {
        var txt = `Open Profile`
      }
    }
    %>
       <img src="https://cdn.discordapp.com/avatars/<%=kisi.id%>/<%=kisi.avatar%>.png?size=512" class="rounded-circle panel">
       <h5 style="color:#fff"><%=kisi.username%></h5>
       <a href="/user/<%=kisi.id%>/profile" class="btn btn-default" style="background-color:#333; color:#fff"><%=txt%></a>
       <% if (user) { %>
       <% if (user.id === kisi.id) { %>
       <a href="/user/<%=kisi.id%>/panel" class="btn btn-default" style="background-color:#333; color:#fff">Open Panel</a>
       <% } %>
       <% } %>
  </div>
</div>
</div></div>
